*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/keystore.properties
/secrets.properties
/petpot.jks
/app/google-services.json
/app/schemas
/app/src/debug
app/.externalNativeBuild/
app/.cxx/
*log
*.apk